*

!/.github/
!/base/
!/base/requirements/
!/scipy/

!/.github/FUNDING.yml
!/base/.gitlab-ci.yml
!/base/requirements/*requirements.txt
!/base/*.Dockerfile
!/scipy/.gitlab-ci.yml
!/scipy/*.Dockerfile

!/.editorconfig
!/.gitattributes
!/.gitignore
!/.hadolint.yml
!/.markdownlint.yml
!/CODE_OF_CONDUCT.md
!/CUDA.md
!/LICENSE
!/NOTES.md
!/README.md
!/SECURITY.md
